In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
data =pd.read_excel("Linear Regression.xlsx",sheet_name=0)
data.head()

    price  sqft_living  bedrooms  bathrooms  floors
0  221900         1180         3       1.00     1.0
1  538000         2570         3       2.25     2.0
2  180000          770         2       1.00     1.0
3  604000         1960         4       3.00     1.0
4  510000         1680         3       2.00     1.0

## Price vs sqtft

In [12]:
x = data.drop(['price','bedrooms','floors','bathrooms'], axis=1)
y = data.drop(['sqft_living','bedrooms','bathrooms','floors'], axis=1)

In [13]:
from sklearn.model_selection import train_test_split

train_x,test_x,train_y,test_y = train_test_split(x,y,random_state = 42,test_size=0.25)

In [14]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(train_x, train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [17]:
print(lr.intercept_)
print(lr.coef_)

[-39814.1604272]
[[278.44089859]]

y= 278.44089859x -39814.1604272

## Price vs Bathrooms

In [18]:
x = data.drop(['price','sqft_living','bedrooms','floors'], axis=1)
y = data.drop(['sqft_living','bedrooms','bathrooms','floors'], axis=1)

In [24]:
from sklearn.model_selection import train_test_split

train_x,test_x,train_y,test_y = train_test_split(x,y,random_state = 42,test_size=0.25)

In [25]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(train_x, train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [26]:
print(lr.intercept_)
print(lr.coef_)

[287430.93543639]
[[166823.26347575]]

y = 166823.26347575x + 287430.93543639

## price vs bedrooms

In [28]:
x = data.drop(['price','sqft_living','floors','bathrooms'], axis=1)
y = data.drop(['sqft_living','bedrooms','bathrooms','floors'], axis=1)

In [29]:
from sklearn.model_selection import train_test_split

train_x,test_x,train_y,test_y = train_test_split(x,y,random_state = 42,test_size=0.25)

In [30]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(train_x, train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [31]:
print(lr.intercept_)
print(lr.coef_)

[141619.83481319]
[[117539.06289752]]

y = 117539.06289752x + 141619.83481319

## price vs floors

In [37]:
x = data.drop(['price','sqft_living','bedrooms','bathrooms'], axis=1)
y = data.drop(['sqft_living','bedrooms','bathrooms','floors'], axis=1)

In [38]:
from sklearn.model_selection import train_test_split

train_x,test_x,train_y,test_y = train_test_split(x,y,random_state = 42,test_size=0.25)

In [39]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(train_x, train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [40]:
print(lr.intercept_)
print(lr.coef_)

[287430.93543639]
[[166823.26347575]]

y = 166823.26347575 + 287430.93543639