## Question 1

In [1]:
a = input("enter email address=")
b = a.find("@")
c= a.find (".")

print("company name is " ,a[b+1:c])

enter email address=vrisshin@google.com
company name is  google

## question2

In [16]:
lst = input()
lst_two= lst.split(",")
lst_three=sorted(lst_two)
print(lst_three)

without,hello,bag,world
['bag', 'hello', 'without', 'world']

## question 3

In [33]:
set1 = {"apple","orange","banana"}
print(set1)
set1.add("papaya")
print(set1)
set1.pop()
print(set1)
set1.remove("apple")
print(set1)

{'orange', 'apple', 'banana'}
{'orange', 'apple', 'papaya', 'banana'}
{'apple', 'papaya', 'banana'}
{'papaya', 'banana'}

In [35]:
set1={1,2,2,3,5,6}
set2 ={1,10,2,8,222}
set1.intersection(set2)

{1, 2}

## question4

In [27]:
lst = (1,2,3,4,6,7,8)
a=1
for i in lst:
    if a in lst:
        a=a+1
        pass
    else :
        print("the missing number is " ,a)
        break

the missing number is  5

## question 5

In [72]:
a = ("12 24 35 24 88 120 155 88 120 155")
b = a.split()
lst = dict.fromkeys(b)
print(list(lst))

['12', '24', '35', '88', '120', '155']