## Question 1

In [1]:
a= 5+ 3j
b= 3+ 7J

In [2]:
#addition
Add = a+b
print(Add)

(8+10j)

In [3]:
#subtract
Sub = a-b
print(Sub)

(2-4j)

In [4]:
#multiply
Mul = a*b
print(Mul)

(-6+44j)

In [6]:
#Division
Div = a/b
print(Div)

(0.6206896551724138-0.4482758620689656j)

Modulo operators and floor divion can't be used for complex numbers

## Question 2

The range function helps to create a sequence of numbers within a specified range 
It has 3 parameters : Starting  value, ending value and interval

In [11]:
#Here only the end value is specified,and is compulsor.When there is no interval value 
#the program creates a sequence of step 1
lst_one = list(range(5))
print(lst_one)

[0, 1, 2, 3, 4]

In [12]:
#here the start value and end value is specified
lst_two = list(range(5,10))
print(lst_two)

[5, 6, 7, 8, 9]

In [14]:
#Here the start value , interval of + 2  and end value is specified
lst_three = list(range(5,19,2))
print(lst_three)

[5, 7, 9, 11, 13, 15, 17]

## Question 3

In [25]:
c = 40
b = 25

if c-b > 25 :
    print(c*b)
    
else:
    print(c/b)

1.6

In [27]:
c = 60
b = 25

if c-b > 25 :
    print(c*b)
    
else:
    print(c/b)

1500

## question 4

In [30]:
lst = list(range(1,11))
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [34]:
for i in lst:
    if i%2==0:
        print(i,"squared by 2 minus 2 is ",i**2-2)

2 squared by 2 minus 2 is  2
4 squared by 2 minus 2 is  14
6 squared by 2 minus 2 is  34
8 squared by 2 minus 2 is  62
10 squared by 2 minus 2 is  98

## question 5

In [36]:
lst_one = list(range(10,21))
print(lst_one)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [37]:
for i in lst_one:
    if i /2 > 7 :
        print(i)

15
16
17
18
19
20